body {
  background-color: white;
  font-family: Arial, sans-serif;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgrey;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: darkgrey;
}
h1 {
  font-size: 36px;
  text-align: center;
  margin: 24px 0;
}

h2 {
  font-size: 24px;
  margin: 18px 0;
}
img {
  width: 700px;
  transition: width 0.5s;
  text-align: center;
}


h2 {
	text-align: center;
}
